<div class="main">
  <h1>Ray's Angular To-do List</h1>
  <div class="addItem">
    <input [(ngModel)] = "newItem" placeholder="Add Item" class="addText">
    <button (click) = "pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor = "let item of items; let ind = index">
      {{item}}
      <span (click) = "removeItem(ind)">x</span>

    </li>
  </ul>
</div>

<!--Footer-->
<footer class="page-footer blue pt-4 mt-4">
  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <!--/.Second column-->
      </div>
  </div>
  <!--/.Footer Links-->
  
  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
          © 2017 Copyright: <a href="Ray.Wang@Oakton.com.au"> Ray.Wang@Oakton.com.au </a>
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->