<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
    <!-- <app-pipes [parentData] = "name"></app-pipes> -->
    <h2>Hello World From {{name}}</h2>
    <h3>{{"This is how a JavaScript function (like name.length) is called: " + name.length}}</h3>
    <h3>{{"This is how a method is called: " + greetUser()}}</h3>
    <h3>{{"This is how to access global variable like window (has to access in the class): " + localUrl}}</h3>
    <app-binding></app-binding>
    

    <div bind-ngSwitch = "highlightColor">
      <div *ngSwitchCase = "'red'">Your highlight color is red</div>
      <div *ngSwitchCase = "'orange'">Your highlight color is orange</div>
      <div *ngSwitchCase = "'green'">Your highlight color is green</div>
      <div *ngSwitchDefault>Pick again</div>
    </div>

    <div *ngFor="let color of colors; odd as o">
      <h2>{{o}} {{color}}</h2>
    </div>
    <h2>{{message}}</h2>
  <app-test (childEvent) = "message=$event" [parentData] = "name"></app-test>
  <app-extra></app-extra>
</div>


